header {
  padding: 150px 0 100px;
}

section {
  padding: 150px 0;
}


.btn-large {
  color: #fff;
  background-color: #f4623a;
  border-color: #f4623a;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 10rem;
}

.btn-table {
  margin-top: 100px;
}

.btn-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clickableRow {
  cursor: pointer; 
}

.small-img {
  height: 20%;
  width: 25%
}
